/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset above  */


.Header{
    background-color:rgb(31, 31, 33);
    height: 550px;
}
.menu{
    display: inline-block;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    color: aliceblue;
}

body{
    background-color: #001a66;
}
.heading{
    font-size: 40px;
    margin: 20px;
    text-align: center;
    color: aliceblue;
    padding-top: 20px;
}
.head{
    text-align: center;
}
#solid{
    font-size: 40px;
    margin-top:150px;
    margin-bottom: 30px;
    margin-left: 180px;
    margin-right: 70px ;
    color: aliceblue;
}
.life{
    font-size: 20px;
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 500px ;
    color: aliceblue;
    padding: 30px;
}
hr{
    width: 1100px;;
    /* border-right:50px; */
    /* border-left: 20px; */
    border-style: dotted;
    border-color: white;
}

.sec1{
       background-color: #003366;
       height: 700px ;
}
.sec2{
    background-color: #1a0066;
    height: 700px ;
}
.sec3{
    background-color: #001a66;
    height: 700px ;
}
.child1 {
    color: aliceblue;
    font-size: 30px;
    padding-top: 20px;
    margin-left: 180px;


}
img{
    margin-left: 180px;
    width: 400px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 40px;
}
footer{
    background-color:rgb(31, 31, 33);
    height: 100px;
}
.address{
    font-size: 20px;
    margin-left:150px;
    padding-top:50px ;
    color: aliceblue;
}