/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* css reset above */

.cover{
     height: auto;
     width:auto;
     margin: 0 auto;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    text-align: center;
    /* margin-top: 20px; */
    padding: 32px 100px;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}
.box{
    background-color: lightgreen;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border: 10px solid lightskyblue;
    outline: 2px solid black;
    box-shadow:0 0 0 10px palevioletred;
}
p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 20px;
}
.a{
     width: 600px;
     border: 1px solid black;
     margin: 0 auto;
     font-size: 0px;
}
.b{
    width: 180px;
    height: 100px;
    margin: 10px;
    display:inline-block;
    background-color:grey;

}
.c{
    width: 600px;
    border: 1px solid black;
    margin: 0 auto;
     
}

.d{
    width: 180px;
    height: 100px;
    margin:10px;
    display:inline-block;
    background-color:grey;
    border: 1px solid black;
}
.e{
    width: 600px;
    border: 1px solid black;
    margin: 0 auto;
    font-size: 0px;
}
.f{
    width: 180px;
    height: 100px;
    margin: 10px;
    display:inline-block;
    background-color:grey;
    border: 1px solid black;
    box-sizing: border-box;
}
.button{
     display: inline-block;
      width: 10px;
      height:10px;
      border-radius: 5px;
      margin-top: 10px;
      margin-left: 550px;
      background-color: lightgreen;   
}
.btn{
    display: inline-block;
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
}
.button1{
    display: inline-block;
    width: 10px;
    height:10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 30px;
    background-color: lightskyblue;  
}
.button2{
    display: inline-block;
    width: 10px;
    height:10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    background-color: black;  
}
.button3{
    display: inline-block;
    width: 10px;
    height:10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: pink;  
}
hr{
    width: 500px;
    border-style: dashed;
    margin-top: 30px;
}
